.pet-card {
  background-color: #84adc4;
  padding: 1rem;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  height: 22rem;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.pet-card-photo {
  width: 11rem;
  height: 10rem;
  order: 1;
  border-radius: 1rem;
}

.pet-card-info {
  order: 2;
}
