.auth {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: #2f3e46;
}

.auth-message {
  color: white;
  font-size: 1.25rem;
}
