* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

#root {
  width: 100%;
}

.button__green {
  font-size: 1.25rem;
  padding: 0.3rem;
  background-color: #84a98c;
  border: 1px solid #52796f;
  border-radius: 5px;
  color: white;
  width: 6rem;
}

.button__green:hover {
  background-color: #cad2c5;
  border: 1px solid #71a799;
  transition: 0.3s;
}

.pet-cardlist {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
